<div class="content-barres mt-2">
  <img class="barres" src="../../assets/images/design/barres.svg" alt="">
</div>

<div class="img-fluid text-center">
  <img src="../../assets/images/photo/photo_de_profil.png" alt="Photo de moi" width="150px">
</div>

<div>
  <div class="fs-2 fw-semibold text-center p-3">Jessy Landas</div>
  <div class="fw-light text-justify p-5">
    Je suis un passionné d'informatique depuis mon plus jeune âge, je code depuis mes 11 ans où je m’amusais à faire des scripts en BASH. Dès que je rentrais de l'école, j'allais programmer. Les années ont passé et j'ai fait des stages en informatique j'ai tout simplement adoré et je me suis lancé dans des formations pour réaliser mon projet. Je n'ai pas de soucis particulier pour apprendre de nouveaux langages ou autres, j'essaie toujours de travailler en équipe et d'aider au maximum ."A plusieurs on apprend plus vite", c'est mon dicton ! J'aime faire le maximum pour être productif et apporter de la bonne humeur au sein du groupe.
  </div>
</div>

<div class="content-barres reverse180">
  <img class="barres" src="../../assets/images/design/barres.svg" alt="">
</div>
