/* You can add global styles to this file, and also import other style files */

// IMPORT DE BOOSTRAP 5
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-custom-color{
  background-color: #FF4081;
  color: white;

}

.box-shadows-custom{
  -webkit-box-shadow: 0px 3px 10px 0px rgba(63,81,181,0.24);
  box-shadow: 0px 3px 10px 0px rgba(63,81,181,0.24);
}

.text-justify{
  text-align: justify;
}


.content-barres{

  top: 13%;
  padding: 10px;
  user-select: none;

}

.reverse180{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
