.content-name{
  position: absolute;
  font-size: large;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;

  top: 15%;


}

.name{
  font-size: 30px;
}

.fonction{
  font-size: 13px;
}

.name, .fonction{
  text-align: center;
}
